<h1>Add a new definition:</h1>

<br>

<form action="/definitions" method="post">
  <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text">

  <button type="submit" class="btn btn-success">Add definition</button>
</form>
