
<h1>All definitions</h1>

<ul>
#foreach ($definition in $definitions)
  <li>
    <a href="/definitions/$definition.getId()">$definition.getDef()</a>
  </li>
#end
</ul>

<hr/>

<a href="/definitions/new">Add new definition</a>
<a href="/">Return to Home Page</a>
