<h1>Definitions for $word.getWord():</h1>

#foreach($definition in $word.getDefinitions())
<ul>
    <li>$definition.getDef()</li>
</ul>
#end

<hr/>

<a href="/words/$word.getId()/definitions/new">Add a new definition</a><br>
<a href="/">Return to Home Page</a>
