<h1>All Words in Dictionary</h1>
<ul>
  #foreach ($word in $words)
  <li><a href="/words/$word.getId()">$word.getWord()</a><li>
  #end
</ul>
<a href="/words/new">Add new word</a><br>
<a href="/">Return to Home Page</a>
